<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo App</h1>
    <form action="/todo" method="post">
        <input type="text" id="todo" name="todo[task]" placeholder="Add new Todo">
        <input type="number" id="importance" name="todo[importance]" placeholder="Add new Todo">
        <button>Add task</button>
    </form>

    <div>
        <% for(let toDo of todos) {%> 
            <li><%= toDo.task %> </li>
            <% } %> 
    </div>
</body>
</html>